<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Success</title>
    {% load static %}
    <style>
        body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: #2c3e50;
}

p {
    color: #333;
    margin: 10px 0;
}

a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px;
}

a:hover {
    text-decoration: underline;
}

    </style>
</head>

<body>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <h1>Payment Success</h1>
    <p>Amount: ₹{{ event.amount }}</p>
    <p>Payment status: {{ event.payment_status }}</p>
    <!-- You can include additional details or a success message here -->

    <a href="{% url 'plain' %}">Go back</a>

</body>

</html>
